.details {
  width: 50%;
  float: right;
}

.dates {
  width: 49%;
  float: left;
}

.buttons {
  clear: both;
  text-align: center;
  width: 200px;
  align-content: center;
  margin: auto;
}

header {
  background-color: #034670 !important;
  color: white;
  max-height: 150px;
}

header img {
  width: 15%;
  float: left;
  padding: 2px 2px;
}

.title {
  float: right;
  font-size: 200%;
  padding-right: 50px;
}